<div class="container text-center my-2">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Movie app</h3>
            <img src="../../../assets/img/movie-app.png" alt="" style="width: 40em; height: 20em;">
            <h2 class="text-left">Tecnologias:</h2>
            <ul class="text-left">
                <li> <i class="fab fa-angular"></i> Angular</li>
                <li> <i class="fab fa-bootstrap"></i> Bootstrap</li>
            </ul>
            <a href="https://movies-dacef.firebaseapp.com" target="_blank"> <i class="far fa-eye"></i> Ver pagina</a>
            <br>
            <a href="https://github.com/CristianMacha/movie-app" target="_blank"> <i class="fab fa-github"></i> Ver codigo</a>
        </div>
    </div>
</div>