<div class="jumbotron">
    <h1 class="display-4">Hola!</h1>
    <p class="h1">Soy Cristian Macha, <span class="font-weight-bolder">desarrollador web</span> con mucha pasion por la
        programacion.</p>
    <hr class="my-4">
    <p>Si lo puedes <strong>IMAGINAR puedes lograrlo</strong>, si lo puedes <strong>SOÑAR</strong> te puedes convertir
        en ello.</p>
    <button class="btn btn-primary btn-lg mr-1">Ver proyectos</button>
    <a class="btn btn-primary btn-lg" href="https://github.com/CristianMacha" target="_blank"><span class="fab fab fa-github"></span> Ir a gitHub</a>
</div>

<div>
    <div class="card border-0">
        <h2 class="card-title">Mis habilidades</h2>
        <hr class="my-0">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/nodejs.png" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/bootstrap.png" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/angular.png" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/javascript.png" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/html.png" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-md-lg-2 m-1">
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/img/css.svg" alt="" width="125em" height="125em">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>