<nav class="navbar navbar-dark bg-dark">
    <div>
        <div class="text-white">
            <span class="fab fa-facebook-f"></span>
            <a href="https://www.facebook.com/CristianDev-108859504191673/" target="_blank" class="mr-5"> Facebook</a>
            <span class="fab fab fa-github"></span>
            <a href="https://github.com/CristianMacha" target="_blank" class="mr-5"> GitHub</a>
            <span class="fab fas fa-phone mr-5"><i> +51 984 415 658</i></span>
            <span class="fab far fa-envelope-open"><i> c71917455@gmail.com</i></span>
        </div>
    </div>
</nav>